//
// Use this to write your custom SCSS
//
body {
  border-top: 5px solid transparent;
  background-image: linear-gradient(to right, #f50d01, #fe4411, #04fefd, #eeea6c, #f50d01);
  background-repeat: no-repeat;
  background-size: 400% 5px;
  background-position: top;
  animation: animarGradiente 10s linear infinite;
}

@keyframes animarGradiente {
  0% {
    background-position: top left;
  }
  100% {
    background-position: top right;
  }
}

#tab-content-chats {
  .card-list {
    .card-body {
      padding: 0.25rem 0.5rem;
    }
  }
}