<div class="d-flex flex-column h-100">
    <div class="hide-scrollbar">

        <div class="container py-8">

            <!-- Title -->
            <div class="mb-8">
                <h2 class="fw-bold m-0">@@title</h2>
            </div>

            <!-- Tabs content -->
            <div class="tab-content" role="tablist">
                <div class="tab-pane fade show active" id="create-chat-info" role="tabpanel">

                    <div class="card border-0">
                        <div class="profile">
                            <div class="profile-img text-primary rounded-top ia-avatar-bg">

                            </div>

                            <div class="profile-body p-0">
                                <div class="avatar avatar-lg">
                                    <span class="avatar-text bg-primary ia-avatar">
                                        <!-- IA avatar -->
                                    </span>

                                    <div
                                            class="badge badge-lg badge-circle bg-primary border-outline position-absolute bottom-0 end-0">
                                        @@include("../../assets/img/icons/plus.svg")
                                    </div>

                                    <input id="upload-chat-img" class="d-none" type="file">
                                    <label class="stretched-label mb-0" for="upload-chat-img"></label>
                                </div>
                            </div>
                        </div>

                        <div class="card-body">
                            <form autocomplete="off" id="formNewClassId">
                                <div class="accordion accordion-flush" id="accordionNewClassId">
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="generalHeadingSectionId">
                                            <button class="accordion-button collapsed" type="button"
                                                    data-bs-toggle="collapse" data-bs-target="#generalCollapseSectionId"
                                                    aria-expanded="false" aria-controls="generalCollapseSectionId">
                                                General
                                            </button>
                                        </h2>
                                        <div id="generalCollapseSectionId" class="accordion-collapse collapse show"
                                             aria-labelledby="generalHeadingSectionId"
                                             data-bs-parent="#accordionNewClassId">
                                            <div class="accordion-body">
                                                <div class="row gy-6">
                                                    <div class="col-12">
                                                        <select class="form-select form-select-lg mb-3"
                                                                id="selectAreaOfKnowledgeId"
                                                                aria-label=".form-select-lg">
                                                            <option selected>Area de Conocimiento</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-12">
                                                        <select class="form-select form-select-lg mb-3"
                                                                id="selectSubjectId"
                                                                aria-label=".form-select-lg example">
                                                            <option selected>Asignatura</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-12">
                                                        <select class="form-select form-select-lg mb-3"
                                                                id="selectGradeId"
                                                                aria-label=".form-select-lg example">
                                                            <option selected>Grado</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-12">
                                                        <select class="form-select form-select-lg mb-3"
                                                                id="selectApproachId"
                                                                aria-label=".form-select-lg example">
                                                            <option selected>Enfoque Pedagogico</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-12">
                                                        <label for="inputSessionId" class="form-label">Número
                                                            <de></de>
                                                            sesiones: <span
                                                                    id="labelSessionId">1</span></label>
                                                        <input type="range" class="form-range" min="1" max="10" step="1"
                                                               value="1"
                                                               id="inputSessionId">
                                                    </div>
                                                    <div class="col-6">
                                                        <label for="inputDurationId" class="form-label">Duracion de la
                                                            sesion: <span
                                                                    id="labelDuration">1</span></label>
                                                        <input type="range" class="form-range" min="1" max="4" step="1"
                                                               value="1"
                                                               id="inputDurationId">
                                                    </div>
                                                    <div class="col-6">
                                                        <select class="form-select form-select-lg mb-3"
                                                                id="inputDurationUnitId"
                                                                aria-label=".form-select-lg example">
                                                            <option value="HOURS" selected>Hora(s)</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="themeHeadingSectionId">
                                            <button class="accordion-button collapsed" type="button"
                                                    data-bs-toggle="collapse" data-bs-target="#themeCollapseSectionId"
                                                    aria-expanded="false" aria-controls="themeCollapseSectionId">
                                                Tema y Objetivos
                                            </button>
                                        </h2>
                                        <div id="themeCollapseSectionId" class="accordion-collapse collapse"
                                             aria-labelledby="themeHeadingSectionId"
                                             data-bs-parent="#accordionNewClassId">
                                            <div class="accordion-body">
                                                <div class="row gy-6">
                                                    <div class="col-12">
                                                        <div class="form-floating">
                                                        <textarea class="form-control"
                                                                  id="textareaThemeId" rows="4" data-autosize="true"
                                                                  style="min-height: 100px;"></textarea>
                                                            <label for="textareaThemeId">Titulo de la clase</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-12">
                                                        <div class="form-floating">
                                                        <textarea class="form-control" id="textareaObjectiveId" rows="4"
                                                                  data-autosize="true"
                                                                  style="min-height: 100px;"></textarea>
                                                            <label for="textareaObjectiveId">Objetivo</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-12">
                                                        <div class="form-floating">
                                                        <textarea class="form-control" id="textareaObjectiveSpecificId"
                                                                  rows="4"
                                                                  data-autosize="true"
                                                                  style="min-height: 100px;"></textarea>
                                                            <label for="textareaObjectiveSpecificId">Objetivos
                                                                Especificos</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="locationHeadingSectionId">
                                            <button class="accordion-button collapsed" type="button"
                                                    data-bs-toggle="collapse"
                                                    data-bs-target="#locationCollapseSectionId"
                                                    aria-expanded="false" aria-controls="locationCollapseSectionId">
                                                Ubicacion y Materiales
                                            </button>
                                        </h2>
                                        <div id="locationCollapseSectionId" class="accordion-collapse collapse"
                                             aria-labelledby="locationHeadingSectionId"
                                             data-bs-parent="#accordionNewClassId">
                                            <div class="accordion-body">
                                                <div class="row gy-6">

                                                    <div class="col-12">
                                                        <label for="selectLocationId">Ubicación</label>
                                                        <select class="form-select" multiple
                                                                aria-label="multiple select"
                                                                id="selectLocationId">
                                                            <option value="Salon de clases" selected>Salón de clases
                                                            </option>
                                                            <option value="Patio">Patio</option>
                                                            <option value="Biblioteca">Biblioteca</option>
                                                            <option value="Parque">Parque</option>
                                                            <option value="Laboratorio de ciencias">Laboratorio de
                                                                ciencias
                                                            </option>
                                                            <option value="Aula de informática">Aula de informática
                                                            </option>
                                                            <option value="Cancha deportiva">Cancha deportiva</option>
                                                            <option value="Teatro">Teatro</option>
                                                            <option value="Sala de música">Sala de música</option>
                                                            <option value="Sala de arte">Sala de arte</option>
                                                            <option value="Jardín botánico">Jardín botánico</option>
                                                            <option value="Cafetería">Cafetería</option>
                                                            <option value="Gimnasio">Gimnasio</option>
                                                            <option value="Sala de meditación">Sala de meditación
                                                            </option>
                                                            <option value="Rincón de lectura al aire libre">Rincón de
                                                                lectura al aire
                                                                libre
                                                            </option>
                                                            <option value="Laboratorio de física">Laboratorio de
                                                                física
                                                            </option>
                                                            <option value="Laboratorio de química">Laboratorio de
                                                                química
                                                            </option>
                                                            <option value="Sala de exposiciones">Sala de exposiciones
                                                            </option>
                                                            <option value="Huerto escolar">Huerto escolar</option>
                                                            <option value="Piscina">Piscina</option>
                                                            <option value="Otro">Otro</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-12">
                                                        <div class="form-floating">
                                                            <textarea class="form-control" id="textareaLocationId"
                                                                      data-autosize="true" rows="3"
                                                                      style="min-height: 100px;"></textarea>
                                                            <label for="textareaLocationId">Ubicaciones</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-12">
                                                        <label for="selectMaterialId">Materiales</label>
                                                        <select class="form-select" multiple
                                                                aria-label="multiple select"
                                                                id="selectMaterialId">
                                                            <option value="videos">Videos</option>
                                                            <option value="presentaciones">Presentaciones</option>
                                                            <option value="juegos educativos">Juegos Educativos</option>
                                                            <option value="libros de texto">Libros de Texto</option>
                                                            <option value="pizarras interactivas">Pizarras
                                                                Interactivas
                                                            </option>
                                                            <option value="mapas">Mapas</option>
                                                            <option value="kits de ciencias">Kits de Ciencias</option>
                                                            <option value="modelos anatómicos">Modelos Anatómicos
                                                            </option>
                                                            <option value="calculadoras">Calculadoras</option>
                                                            <option value="materiales de arte">Materiales de Arte
                                                            </option>
                                                            <option value="instrumentos musicales">Instrumentos
                                                                Musicales
                                                            </option>
                                                            <option value="cuentos y novelas">Cuentos y Novelas</option>
                                                            <option value="materiales reciclables">Materiales
                                                                Reciclables
                                                            </option>
                                                            <option value="computadoras o tablets">Computadoras o
                                                                Tablets
                                                            </option>
                                                            <option value="software educativo">Software Educativo
                                                            </option>
                                                            <option value="cámaras">Cámaras</option>
                                                            <option value="experimentos de laboratorio">Experimentos de
                                                                Laboratorio
                                                            </option>
                                                            <option value="equipos de deporte">Equipos de Deporte
                                                            </option>
                                                            <option value="globos terráqueos">Globos Terráqueos</option>
                                                            <option value="papelógrafos">Papelógrafos</option>
                                                            <option value="Otro">Otro</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-12">
                                                        <div class="form-floating">
                                                            <textarea class="form-control"
                                                                      id="textareaMaterialId"
                                                                      rows="8"
                                                                      data-autosize="true"
                                                                      style="min-height: 100px;"></textarea>
                                                            <label for="textareaMaterialId">Materiales</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                    <!-- Options -->
                    <div class="mt-8">
                        <div class="d-flex align-items-center mb-4 px-6">
                            <small class="text-muted me-auto">Avanzado</small>
                        </div>

                        <div class="card border-0">
                            <div class="card-body">
                                <div class="row gx-5">
                                    <div class="col-auto">
                                        <div class="btn btn-sm btn-icon btn-dark">
                                            @@include("../../assets/img/icons/lock.svg")
                                        </div>
                                    </div>
                                    <div class="col">
                                        <h5>Proveedor IA</h5>
                                        <!--<p>Memory Chat, More context</p>-->
                                    </div>
                                    <div class="col-auto align-self-center">
                                        <div class="form-check form-switch ps-0">
                                            <select class="form-select" aria-label="multiple select"
                                                    id="selectProviderId">
                                                <option value="gpt">GPT</option>
                                                <option value="claude">Claude</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Tabs content -->
        </div>

    </div>

    <!-- Button -->
    <div class="container mt-n4 mb-8 position-relative">
        <button class="btn btn-lg btn-primary w-100 d-flex align-items-center" type="button" id="createClassButtonId">
            Crear Plan de Clase
            <span class="icon ms-auto">
                @@include("../../assets/img/icons/chevron-right.svg")
            </span>
        </button>
    </div>
    <!-- Button -->
</div>