<div class="d-flex flex-column h-100">
    <div class="hide-scrollbar">
        <div class="container py-8">

            <!-- Title -->
            <div class="mb-8">
                <h2 class="fw-bold m-0">@@title</h2>
            </div>

            <!-- Search -->
            <div class="mb-6">

                <!-- Invite button -->
                <div class="mt-5">
                    <a href="#" class="btn btn-lg btn-primary w-100 d-flex align-items-center" data-bs-toggle="modal"
                       data-bs-target="#modal-invite">
                        Create User

                        <span class="icon ms-auto">
                            @@include("../../assets/img/icons/user-plus.svg")
                        </span>
                    </a>
                </div>
            </div>

            <!-- List -->
            <div id="list-all-users" class="card-list">

            </div>

        </div>
    </div>
</div>