<div class="d-flex flex-column h-100">
    <div class="hide-scrollbar">
        <div class="container py-8">

            <!-- Title -->
            <div class="mb-8">
                <h2 class="fw-bold m-0">@@title</h2>
            </div>

            <!-- Profile -->
            <div class="card border-0">
                <div class="card-body">
                    <div class="row align-items-center gx-5">
                        <div class="col-auto">
                            <div class="avatar">
                                <div id="profileIcon" class="profile-icon"></div>

                                <div class="badge badge-circle bg-secondary border-outline position-absolute bottom-0 end-0">
                                    @@include("../../assets/img/icons/image.svg")
                                </div>
                                <input id="upload-profile-photo" class="d-none" type="file">
                                <label class="stretched-label mb-0" for="upload-profile-photo"></label>
                            </div>
                        </div>
                        <div id="user-info" class="col">
                            <h5>William Pearson</h5>
                            <p>wright@studio.com</p>
                        </div>
                        <div class="col-auto">
                            <a href="#" class="text-muted">
                                <div id="logout-icon" class="icon">
                                    @@include("../../assets/img/icons/log-out.svg")
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Profile -->

            <!-- Account -->
            <div class="mt-8">
                <div class="d-flex align-items-center mb-4 px-6">
                    <small class="text-muted me-auto">Cuenta</small>
                </div>

                <div class="card border-0">
                    <div class="card-body py-2">
                        <!-- Accordion -->
                        <div class="accordion accordion-flush" id="accordion-profile">
                            <div class="accordion-item">
                                <div class="accordion-header" id="accordion-profile-1">
                                    <a href="#" class="accordion-button text-reset collapsed" data-bs-toggle="collapse" data-bs-target="#accordion-profile-body-1" aria-expanded="false" aria-controls="accordion-profile-body-1">
                                        <div>
                                            <h5>Perfil</h5>
                                            <p>Cambiar perfil</p>
                                        </div>
                                    </a>
                                </div>

                                <div id="accordion-profile-body-1" class="accordion-collapse collapse" aria-labelledby="accordion-profile-1" data-parent="#accordion-profile">
                                    <div class="accordion-body">
                                        <div class="form-floating mb-6">
                                            <input type="text" class="form-control" id="profile-name" placeholder="Nombre">
                                            <label for="profile-name">Nombre</label>
                                        </div>

                                        <div class="form-floating mb-6">
                                            <input type="email" class="form-control" id="profile-email" placeholder="Correo Electronico">
                                            <label for="profile-email">Correo Electronico</label>
                                        </div>

                                        <button type="button" class="btn btn-block btn-lg btn-primary w-100">Guardar</button>
                                    </div>
                                </div>
                            </div>

                            <!-- Switch -->
                            <div class="accordion-item">
                                <div class="accordion-header">
                                    <div class="row align-items-center">
                                        <div class="col">
                                            <h5>Tema</h5>
                                            <p>Cambia entre claro u oscuro</p>
                                        </div>
                                        <div class="col-auto">
                                            <a class="switcher-btn text-reset" href="#!" title="Themes">
                                                <div class="switcher-icon switcher-icon-dark icon icon-lg d-none" data-theme-mode="dark">
                                                    @@include("../../assets/img/icons/moon.svg")
                                                </div>
                                                <div class="switcher-icon switcher-icon-light icon icon-lg d-none" data-theme-mode="light">
                                                    @@include("../../assets/img/icons/sun.svg")
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Account -->

            <!-- Security -->
            <div class="mt-8">
                <div class="d-flex align-items-center my-4 px-6">
                    <small class="text-muted me-auto">Seguridad</small>
                </div>

                <div class="card border-0">
                    <div class="card-body py-2">
                        <!-- Accordion -->
                        <div class="accordion accordion-flush" id="accordion-security">
                            <div class="accordion-item">
                                <div class="accordion-header" id="accordion-security-1">
                                    <a href="#" class="accordion-button text-reset collapsed" data-bs-toggle="collapse" data-bs-target="#accordion-security-body-1" aria-expanded="false" aria-controls="accordion-security-body-1">
                                        <div>
                                            <h5>Contraseña</h5>
                                            <p>Cambiar contraseña</p>
                                        </div>
                                    </a>
                                </div>

                                <div id="accordion-security-body-1" class="accordion-collapse collapse" aria-labelledby="accordion-security-1" data-parent="#accordion-security">
                                    <div class="accordion-body">
                                        <form action="#" autocomplete="on">
                                            <div class="form-floating mb-6">
                                                <input type="password" class="form-control" id="profile-current-password" placeholder="Current Password" autocomplete="">
                                                <label for="profile-current-password">Contraseña actual</label>
                                            </div>

                                            <div class="form-floating mb-6">
                                                <input type="password" class="form-control" id="profile-new-password" placeholder="New password" autocomplete="">
                                                <label for="profile-new-password">Nueva contraseña</label>
                                            </div>

                                            <div class="form-floating mb-6">
                                                <input type="password" class="form-control" id="profile-verify-password" placeholder="Verify Password" autocomplete="">
                                                <label for="profile-verify-password">Verificar contraseña</label>
                                            </div>
                                        </form>
                                        <button type="button" class="btn btn-block btn-lg btn-primary w-100">Guardar</button>
                                    </div>
                                </div>
                            </div>

                            <!-- Switch -->
                            <div class="accordion-item">
                                <div class="accordion-header">
                                    <div class="row align-items-center">
                                        <div class="col">
                                            <h5>Doble factor de autenticación</h5>
                                            <p>Habilitar 2FA</p>
                                        </div>
                                        <div class="col-auto">
                                            <div class="form-check form-switch">
                                                <input class="form-check-input" type="checkbox" id="accordion-security-check-1">
                                                <label class="form-check-label" for="accordion-security-check-1"></label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Security -->

            <!-- Devices -->
            <div class="mt-8">
                <div class="d-flex align-items-center my-4 px-6">
                    <small class="text-muted me-auto">Dispositivos</small>

                    <div class="flex align-items-center text-muted">
                        <a href="#" class="text-muted small">Cerrar en todos los dispositivos </a>

                        <div class="icon icon-xs">
                            @@include("../../assets/img/icons/log-out.svg")
                        </div>
                    </div>
                </div>

                <div class="card border-0">
                    <div class="card-body py-3">

                        <ul class="list-group list-group-flush">

                            <li class="list-group-item">
                                <div class="row align-items-center">
                                    <div id="local-system-info" class="col">
                                        <h5>Windows ⋅ USA, Houston</h5>
                                        <p>Today at 2:48 pm ⋅ Browser: Chrome</p>
                                    </div>
                                    <div class="col-auto">
                                        <span class="text-primary extra-small">activo</span>
                                    </div>
                                </div>
                            </li>

                        </ul>

                    </div>
                </div>

            </div>
            <!-- Devices -->

        </div>
    </div>
</div>