<div class="d-flex flex-column h-100">
    <div class="hide-scrollbar">

        <div class="container py-8">

            <!-- Title -->
            <div class="mb-8">
                <h2 class="fw-bold m-0">@@title</h2>
            </div>

            <!-- Tabs content -->
            <div class="tab-content" role="tablist">
                <div class="tab-pane fade show active" id="create-chat-info" role="tabpanel">

                    <div class="card border-0">
                        <div class="profile">
                            <div class="profile-img text-primary rounded-top ia-avatar-bg">

                            </div>

                            <div class="profile-body p-0">
                                <div class="avatar avatar-lg">
                                    <span class="avatar-text bg-primary ia-avatar">
                                        <!-- IA avatar -->
                                    </span>

                                    <div
                                        class="badge badge-lg badge-circle bg-primary border-outline position-absolute bottom-0 end-0">
                                        @@include("../../assets/img/icons/plus.svg")
                                    </div>

                                    <input id="upload-chat-img" class="d-none" type="file">
                                    <label class="stretched-label mb-0" for="upload-chat-img"></label>
                                </div>
                            </div>
                        </div>

                        <div class="card-body">
                            <form autocomplete="off" id="new_question_id">
                                <div class="row gy-6">
                                    <div class="col-12">
                                        <select class="form-select form-select-lg mb-3" id="team"
                                            aria-label=".form-select-lg example">
                                            <option selected>Select a Team</option>
                                            <option value="solutions">Solutions</option>
                                            <option value="false">Coming soon</option>
                                        </select>
                                    </div>
                                    <div class="col-12">
                                        <select class="form-select form-select-lg mb-3" id="repo"
                                            aria-label=".form-select-lg example">
                                            <option selected>Select a Repo</option>
                                            <option value="saas-ms-user">saas-ms-user</option>
                                            <option value="false">Coming soon</option>
                                        </select>
                                    </div>
                                    <div class="col-12">
                                        <select class="form-select form-select-lg mb-3" id="provider"
                                            aria-label=".form-select-lg example">
                                            <option selected>Select a Provider</option>
                                            <option value="openai">Open AI</option>
                                            <option value="false">Coming soon</option>
                                        </select>
                                    </div>
                                    <div class="col-12">
                                        <select class="form-select form-select-lg mb-3" id="model"
                                            aria-label=".form-select-lg example">
                                            <option selected>Select a Model</option>
                                            <option value="gpt-4-1106-preview">GPT-4 Turbo with 128K</option>
                                            <option value="false">Coming soon</option>
                                        </select>
                                    </div>
                                    <div class="col-12">
                                        <label for="customRange3" class="form-label">Temperature</label>
                                        <input type="range" class="form-range" min="0" max="2" step="0.1"
                                            id="temperature">
                                    </div>
                                    <div class="col-12">
                                        <div class="form-floating">
                                            <textarea class="form-control" placeholder="Question" id="text" rows="8"
                                                data-autosize="true" style="min-height: 100px;"></textarea>
                                            <label for="floatingTextarea">Your question?</label>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                    <!-- Options -->
                    <div class="mt-8">
                        <div class="d-flex align-items-center mb-4 px-6">
                            <small class="text-muted me-auto">Options</small>
                        </div>

                        <div class="card border-0">
                            <div class="card-body">
                                <div class="row gx-5">
                                    <div class="col-auto">
                                        <div class="btn btn-sm btn-icon btn-dark">
                                            @@include("../../assets/img/icons/lock.svg")
                                        </div>
                                    </div>
                                    <div class="col">
                                        <h5>Memory Chat</h5>
                                        <p>Memory Chat, More context</p>
                                    </div>
                                    <div class="col-auto align-self-center">
                                        <div class="form-check form-switch ps-0">
                                            <input class="form-check-input" type="checkbox" id="new-chat-options-1"
                                                checked>
                                            <label class="form-check-label" for="new-chat-options-1"></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Tabs content -->
        </div>

    </div>

    <!-- Button -->
    <div class="container mt-n4 mb-8 position-relative">
        <button class="btn btn-lg btn-primary w-100 d-flex align-items-center" type="button" id="start-chat-button">
            Start chat
            <span class="icon ms-auto">
                @@include("../../assets/img/icons/chevron-right.svg")
            </span>
        </button>
    </div>
    <!-- Button -->
</div>