<div class="d-flex flex-column h-100 position-relative">
    <div class="hide-scrollbar">

        <div class="container py-8">
            <!-- Title -->
            <div class="mb-8">
                <h2 class="fw-bold m-0">@@title</h2>
            </div>

            <!-- Search -->
            <div class="mb-6">
                @@include("../components/search.html")
            </div>

            <!-- Chats -->
            <div class="card-list">
                <!-- Card -->
                <a href="chat-direct.html" class="card border-0 text-reset">
                    <div class="card-body">
                        <div class="row gx-5">
                            <div class="col">
                                <div class="d-flex align-items-center">
                                    <h5 class="me-auto mb-0">New Chat</h5>
                                    <span class="text-muted extra-small ms-2">08:45 PM</span>
                                </div>
                            </div>
                        </div>
                    </div><!-- .card-body -->
                </a>
                <!-- Card -->
            </div>
            <!-- Chats -->
        </div>

    </div>
</div>