<div class="d-flex flex-column h-100">
    <div class="hide-scrollbar">
        <div class="container py-8">

            <!-- Title -->
            <div class="mb-8">
                <h2 class="fw-bold m-0">Consumo General</h2>
            </div>
            <!-- Docs -->
            <div class="card border-0">
                <div class="card-body">

                    <div class="row align-items-center gx-5">
                        <div class="col-auto text-primary">
                            @@include("../../assets/img/icons/bar-chart-2.svg")
                        </div>

                        <div class="col">
                            <h4 class="mb-1">Consumo general</h4>
                            <p>Mostrar consumo general de Omnissiah</p>
                        </div>

                        <div class="col-auto">
                            <a href="consumption.html" class="btn btn-sm btn-icon btn-primary rounded-circle">
                                @@include("../../assets/img/icons/chevron-right.svg")
                            </a>
                        </div>
                    </div>

                </div>
            </div>
            <!-- Docs -->
            <!-- Account Pages -->
        </div>
    </div>
</div>